@media (min-width: 1200px) {
  * {
      font-size: 22px
  }
}

@media (max-width: 1100px) {
  #slogan .section-title img {
    display: block;
    position: absolute;
    bottom: 24%;
    left: 46%;
    width: 7%;
  }
  #slogan .images img {
    opacity: 0
  }
}

@media (min-width: 1320px) {
  #slogan .images img {
    opacity: 0
  }
  #slogan .section-title {
    padding-bottom: 0 !important;
  }
  #slogan .section-title h1 {
    margin: 0
  }
  #slogan .section-title img {
    margin: 0 auto;
    margin-top: -2rem;
    display: block;
  }
}

@media (max-width: 1200px) {
  * {
    font-size: 18px
  }
  nav .cart-link button {
    right: 2%;
    top: .2rem;
  }
}

@media (max-width: 950px) {
  * {
    font-size: 16px
  }
  footer .logo {
    width: 20%;
  }
  footer .arrow {
    width: 45%;
  }

  footer .social-network img {
    transform: scale(1.5);
  }
}

@media (max-width: 830px) {
  * {
    font-size: 16px
  }
  .desktop-navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
    position: fixed;
    z-index: 3
  }
  .banner {
    padding-top: 90px
  }
  nav .cart-link {
    justify-content: flex-end;
    padding-right: .6rem !important;
  }
  nav .cart-link img{
    width: 22%;
  }
  nav .cart-link button {
    top: 0.5rem;
  }
  nav .cart-link button span{
    font-size: .6rem;
  }
  nav .cart-link button {
    width: 1rem;
    height: 1rem;
  }
  #search-form {
    position: relative;
  }
  #search-form .fa-search {
    position: absolute;
    z-index: 2;
    left: 30%;
  }
  #search-form input {
    font-size: 1.2rem;
    width: 30%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  footer .logo {
    width: 30%;
  }
  footer .arrow {
    width: 58%;
    left: 4% !important
  }

  footer .social-network {
    width: 30%
  }
  #slogan-2 .brand-box span {
    right: 62%
  }
  #slogan .section-title img {
    bottom: 28%;
  }
  nav .cart-link img {
    width: 25%;
  }
}

@media (max-width: 676px) {
  nav .cart-link img {
    width: 30%;
  }
}
@media (max-width: 576px) { 
  #new-products .row, #categories .row {
    padding: 0 1rem
  }
  .product-card .only-price {
    display: none;
  }
  .product-card:hover .price-hover, .product-card .price-hover {
    opacity: 0;
    display: none !important;
  }
  .mobile {
    display: block;
  }
  footer .arrow {
    width: 64%;
    left: 4% !important
  }
  #slogan-2 .row {
    flex-direction: column;
  }

  #slogan-2 .row .col-7, #slogan-2 .row .col-5 {
    max-width: 100%;
    text-align: center;
  }

  #slogan-2 .row .col-5 {
    padding-top: 1rem
  }

  #slogan-2 .row .col-5 img{
    width: 18%
  }
  #slogan-2 .brand-box span {
    right: 42%;
  }

  .mobile-navbar .cart-link {
    position: relative;
  }
  nav .cart-link img {
    width: 35%;
  }
  #slogan .section-title img {
    bottom: 26%;
    left: 45%;
    width: 9%;
  }
}

@media (max-width: 500px) { 
  footer .arrow {
    display: none;
  }
  #slogan .section-title img {
    bottom: 26%;
    left: 44%;
    width: 11%;
  }
  nav .cart-link img {
    width: 50%;
  }
} 

@media (max-width: 450px) { 
  #slogan-2 .brand-box span {
    right: 41%;
    font-size: .6rem
  }
  nav .cart-link img {
    width: 65%;
  }
} 

@media (max-width: 350px) { 
  #slogan-2 .brand-box span {
    display: none;
  }
  #slogan .section-title img {
    bottom: 28%;
    left: 42%;
    width: 13%;
  }
  nav .cart-link img {
    width: 80%;
  }
} 