@media (min-width: 1200px) {
  * {
      font-size: 22px
  }
  .product-card .card-header img {
    max-height: 9.5rem;
    object-fit: contain;
  }
}

@media (max-width: 1100px) {
  #slogan .section-title img {
    display: block;
    position: absolute;
    bottom: 24%;
    left: 46%;
    width: 7%;
  }
  /*#slogan .images img {
    opacity: 0
  }*/
  #categories-view #slogan .section-title img {
    display: none;
  }
}

@media (min-width: 1320px) {
  #slogan .section-title {
    padding-bottom: 0 !important;
  }
  #slogan .section-title h1 {
    margin: 0
  }
  #slogan .section-title img {
    margin: 0 auto;
    margin-top: -2rem;
    display: block;
  }
}

@media (max-width: 1200px) {
  * {
    font-size: 18px
  }
  nav .cart-link button {
    right: 2%;
    top: .2rem;
  }
}

@media (max-width: 1200px) and (min-width: 951px){
  .product-card .card-header img {
    max-height: 9.55rem;
    object-fit: contain;
  }
}

@media (max-width: 1050px) {
  .blog .sidebar {
    width: 25%
  }
  .blog .sidebar p {
    font-size: 1.2rem
  }
  .blog .sidebar .badge {
    font-size: .9rem;
  }
}

@media (max-width: 991px) {
  .blog .sidebar {
    width: 35%;
  }
}

@media (max-width: 950px) {
  .product-card .card-header img {
    max-height: 10.95rem;
    object-fit: contain;
  }
} 

@media (min-width: 950px) {
  .category-card img.arrow {
    bottom: -0.3rem;
  }
}
@media (max-width: 950px) {
  * {
    font-size: 16px
  }
  footer .logo {
    width: 20%;
  }
  footer .arrow {
    width: 45%;
  }

  footer .social-network img {
    transform: scale(1.5);
  }
  .current-cart .quantity .minus, .current-cart .quantity .plus {
    padding: .09rem .5rem !important
  }
}

@media (max-width: 870px) {
  * {
    font-size: 15px
  }
  .current-cart {
    width: 45%
  }
  .current-cart .quantity .minus, .current-cart .quantity .plus {
    padding: .12rem .5rem !important
  }
}
@media (max-width: 830px) {
  * {
    font-size: 16px
  }
  .desktop-navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
    position: fixed;
    z-index: 5
  }
  .banner, #categories-view, #products-view, #product-view, #about-view, #look-book-view {
    padding-top: 90px
  }
  nav .cart-link {
    justify-content: flex-end;
    padding-right: .6rem !important;
  }
  nav .cart-link img{
    width: 22%;
  }
  nav .cart-link button {
    top: 0.5rem;
  }
  nav .cart-link button span{
    font-size: .6rem;
  }
  nav .cart-link button {
    width: 1rem;
    height: 1rem;
  }
  #search-form {
    position: relative;
  }
  #search-form .fa-search {
    position: absolute;
    z-index: 2;
    left: 30%;
  }
  #search-form input {
    font-size: 1.2rem;
    width: 30%;
    text-align: center;
  }
  .category-card img.arrow {
    bottom: -.8rem;
  }
  .product-row {
    flex-direction: column;
  }
  #product-view .image-banner-item img{
    width: 60%;
    margin: 0 auto
  }
  #product-view .product-info {
    padding: 2rem 0;
  }
  #product-view .product-info .btn-cart {
    width: 30% !important
  }
  #product-view .section-title img {
    width: 10%
  }
  .current-cart .quantity .minus, .current-cart .quantity .plus {
    padding: .09rem .5rem !important
  }
  #blog-view {
    position: relative;
    overflow: hidden;
  }
  .blog .sidebar {
    top: 0;
    height: 100%;
    z-index: 6;
    transition: .3s;
    right: -100%;
  }
  .blog .sidebar.open {
    right: 0
  }
  .blog .blog-content, .blog .blog-post-content {
    width: 100%;
  }
  .blog .blog-content .row {
    justify-content: center;
  }
  .blog-menu {
    display: block;
    padding: .8rem 1rem !important;
  }

  .blog-menu:hover, .blog-close-menu:hover {
    display: block !important;
  }
  .blog-close-menu {
    display: block;
  }
  .blog-close-menu:hover {
    background: none !important
  }
  #blog-post-view h5.text-underline {
    display: block;
  }
  #blog-view {
    padding-top: 5rem;
  }
}

@media (max-width: 767px) {
  footer .logo {
    width: 30%;
  }
  footer .arrow {
    width: 58%;
    left: 4% !important
  }

  footer .social-network {
    width: 30%
  }
  #slogan-2 .brand-box span {
    right: 62%
  }
  #slogan .section-title img {
    bottom: 28%;
  }
  nav .cart-link img {
    width: 25%;
  }
  .category-card img.arrow {
    bottom: -1.2rem;
  }
  #about-view .details .row.text , #about-view .bohemian .row {
    flex-direction: column;
    margin: 0
  }
  #about-view .bohemian {
    padding: 2rem 0;
  }
  #about-view .bohemian .row img{
    width: 50%
  }
  #about-view .mask {
    width: 55%;
    height: 84%;
    right: 27%;
  }
  #about-view .with-background {
    margin: 0 !important;
    margin-top: 3rem !important;
  }

  #slogan-2 h3 {
    font-size: 1.8rem;
  }

  .how-do-we-do img.big {
    width: 70%;
  }
  #about-view .how-do-we-do .mask {
    width: 69%;
    height: 98%;
    top: 20%;
    right: 22%;
  }
  #about-view .details .row.text {
    flex-direction: column-reverse;
  }
  .blog-menu {
    right: 2.2rem;
  }
  .blog .sidebar {
    width: 45%;
  }
}

@media (max-width: 676px) {
  nav .cart-link img {
    width: 30%;
  }
  .current-cart {
    width: 60%;
  }
  .blog-menu {
    right: 1.8rem;
  }
}

@media (min-width: 576px) { 
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu{
    margin-top: 0;
    min-width: max-content;
    overflow: hidden;
    left: 45% !important;
  }
  .dropdown:hover .dropdown-menu{
    left: -30% !important;
  }
  .dropdown-toggle{
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
    margin-bottom: 0;
  }

  .category-card:hover img.arrow {
   left: 40%; 
  }

  .dropdown-item:focus, .dropdown-item:hover {
    background-color: inherit;
    color: #C89567 !important;
  }
}
@media (max-width: 576px) {
  #about-view .vision {
    flex-direction: column;
  }
  #about-view .vision .col, #about-view .bohemian .row .col {
    margin: 0 !important;
    padding: 2rem !important;
  }
  #new-products .row, #categories .row, #related-products .row{
    padding: 0 1rem
  }

  #about-view #slogan-2 .col-8 {
    padding: 0 1.4rem;
  }
  #about-view .mask {
    width: 49%;
    height: 76%;
    right: 29%;
  }

  #about-view .how-do-we-do .mask {
    width: 71%;
    height: 92%;
    top: 17%;
  }

  img#paint{
    width: 60%
  }

  img#africa {
    width: 60%
  }

  #about-view #slogan-2 .col-2:first-child {
    display: none;
  }

  #about-view .how-do-we-do .row {
    flex-direction: column;
  }

  #about-view .how-do-we-do .row .col {
    padding: 1rem 0
  }

  #about-view 
  .product-card .only-price {
    display: none;
  }
  .product-card:hover .price-hover, .product-card .price-hover {
    opacity: 0;
    display: none !important;
  }
  .mobile {
    display: block;
  }
  footer .arrow {
    width: 64%;
    left: 4% !important
  }
  #slogan-2 .row {
    flex-direction: column;
  }

  #slogan-2 .row .col-7, #slogan-2 .row .col-5 {
    max-width: 100%;
    text-align: center;
  }

  #slogan-2 .row .col-5 {
    padding-top: 1rem
  }

  #slogan-2 .row .col-5 img{
    width: 18%
  }
  #slogan-2 .brand-box span {
    right: 42%;
  }

  .product-card .only-price {
    display: none;
  }

  .mobile-navbar .cart-link {
    position: relative;
  }
  nav .cart-link img {
    width: 35%;
  }
  #slogan .section-title img {
    bottom: 26%;
    left: 45%;
    width: 9%;
  }
  #contact_us .row {
    flex-direction: column;
  }

  #contact_us h4 {
    text-align: center;
    padding-top: 0 !important;
    padding-bottom: 1rem
  }

  #contact_us .btn-primary {
    margin-top: 2rem !important
  }

  .category-card img.arrow {
    bottom: -2rem;
    width: 25%;
  }

  .current-cart {
    width: 70%;
  }

  .blog-menu {
    right: 1.5rem;
  }
  .blog .sidebar {
    width: 60%;
  }
}

@media (max-width: 500px) { 
  footer .arrow {
    display: none;
  }
  #slogan .section-title img {
    bottom: 26%;
    left: 44%;
    width: 11%;
  }
  nav .cart-link img {
    width: 50%;
  }
  #product-view .product-info .btn-cart {
    width: 50% !important;
  }
  .current-cart {
    width: 100%;
  }
} 

@media (max-width: 450px) { 
  #slogan-2 .brand-box span {
    right: 41%;
    font-size: .6rem
  }
  nav .cart-link img {
    width: 50%;
  }
  #about-view .row.text .row.h-100 {
    padding: 1rem 5rem !important;
    margin-bottom: 1rem;
  }
  .blog .sidebar {
    width: 100%;
  }
} 

@media (max-width: 430px) { 
  #about-view .row.text .row.h-100 {
    padding: 1rem 2rem !important;
  }
}
@media (max-width: 350px) { 
  #slogan-2 .brand-box span {
    display: none;
  }
  #slogan .section-title img {
    bottom: 28%;
    left: 42%;
    width: 13%;
  }
  nav .cart-link img {
    width: 80%;
  }
  #about-view .row.text .row.h-100 {
    padding: 1rem 1rem !important;
  }
}

@media (max-width: 305px) { 
  #about-view .row.text .row.h-100 {
    padding: 1rem 0 !important;
    text-align: center;
  }
}